* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1F25AF;
  overflow-x: hidden;
}
.title {
  text-align: center;
  padding: 30px;
  position: relative;
  color: #888; 
  overflow: hidden; 
  white-space: nowrap;
}

.title::before {
  content: attr(data-title); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #888 50%, white 50%);
  background-size: 200% 100%;
  color: transparent; 
  background-clip: text;
  -webkit-background-clip: text; 
  animation: fillText 2s linear forwards infinite; 
}

@keyframes fillText {
  to {
    background-position: -100% 0;
  }
}


.container-search {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
#searchbar-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#search-bar {
  flex-grow: 1;
  height: 35px;
  padding: 10px;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 5px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); 
}

#search-bar:hover {
  border-color: #F64C71;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); 
}

#searchbtn {
  margin-left: 10px;
  padding: 10px 30px;
  border: none;
  background-color: #F64C71;
  color: white;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

#searchbtn:hover {
  background-color: #ED5565;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  transform: scale(0.95); 
}


#result {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

#result > div {
  width: 100%;
  border: 1px solid #ddd;
  height: 70px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; background-color: #563D67;
  display: flex;
  justify-content: space-between;
}
.emoji-item {
  text-align: center;
  padding: 15px;
  margin: 10px 0;
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.emojitxt{
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 35px;
}
.destxt{
  display: flex;
  align-items: center;
  height: 50px;
  text-align: center;
  color: white;
}